<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- adaptação para telas menores-->
  <title>Willian Oliveira - Map</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <link rel="icon" href="/images/logo-icon.png" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/create-polygon.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;800&display=swap" rel="stylesheet" />
</head>

<body id="body">
  <div id="container">
      <form action="save-polygon" method="post">
        <fieldset>
          <div class="input-block">
            <label for="name">Name</label>
            <input id="name" name="name" required />
          </div>
          <div class="input-block">
            <label for="area">Area</label>
            <input id="area" name="area" required />
          </div>
        

        <button type="submit" title="Save Polygon">
          Save
        </button>
        
        </fieldset>
      
        <div class="map-container">
          <div class="map">
            <div id="mapid"></div>
            <footer>
              <p>
                Click to add point to polygon, points must be added in counterclockwise order
              </p>
            </footer>
          </div>
          <div id="rightpanel">
            <div class="toolbar">
              <div class="tool" onClick="undo()">
                <img src="/images/undo.svg" alt="Undo last point" />
              </div>
              <div class="tool" onClick="centerPolygon()">
                <img src="/images/aim.svg" alt="Center polygon on map" />
              </div>
            </div>

            <div id="list-points"></div>
          </div>        
        </div>     
      </form>
  </div>
  <div class="github-container">
    <a href="http://github.com/wijloc/leaflet-polygon-creator" target="_blank">Available on GitHub</a>
  </div>  

  <script src="/scripts/create-polygon.js"></script>
</body>

</html>